.image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("C:\Netflix clone\netflix-clone\src\assets\banner.jpg");
    height: 700px;
    background-size: cover;
    border-bottom: 10px solid rgb(37, 36, 36);
 
}
.first0{
    overflow-x: hidden;
}