.bot{
    background-color: rgb(245, 242, 242);
    height: 200px;
    color: black;
    
}
.link{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    margin-top: 10px;
    margin-left: 100px;
    text-align: left;
    font-size: 13px;
    color: rgb(102, 99, 99);
}
.link p:hover{
    text-decoration: underline;
}
.phone{
    margin-left: -1080px;
    padding-top: 10px;
    color: rgb(102, 99, 99);


}
.phone span:hover{
    text-decoration: underline;
}